<div class ="container">
  <div class ="row">
    <div class ="col-md-12">
      <p class ="content1" >
        <h2>店舗一覧</h2>
      <table class ='table table-striped'>
        <thead>
          <tr>
   	        <th>ShopID</th>
   	        <th>店名</th>
   	        <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @shops.each do |shop| %>
          <tr>
            <td><%= shop.id %></td>
            <td><%= link_to shop.shop_name, admin_shop_path(shop.id) %></td>
            <td>
              <% if shop.shop_quit %>
                有効
              <% else %>
                無効
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </p>
      <%= link_to "新規登録", new_admin_shop_path,class: "btn btn-primary",data: { "turbolinks"=> false }  %>
    </div>
  </div>
</div>
