<h2>Userオススメ店舗一覧</h2>
  <table class ='table'>
    <thead>
      <tr>
   	    <th>ID</th>
        <th>User名</th>
        <th>店名</th>
   	    <th></th>
     </tr>
    </thead>
    <tbody>
      <% @recommends.each do |recommend| %>
        <tr>
          <td><%= recommend.id %></td>
          <td><%= recommend.user.name %></td>
        　<td><%= link_to recommend.recommend_shop_name, recommend_path(recommend.id) %></td>
        　<td><%= link_to "この店舗を登録する", new_admin_shop_path(recommend_id: recommend.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>