<div class="container">
  <div class="row">
	<div col-xs>
      <h3>本日のアクセス件数 <%= @visitor.impressions_count %>件</h3>
      <h3><%= link_to "Userからのおすすめ店舗を確認する",recommends_path %></h3>
	</div>
  </div>
</div>