<div class="main-container">
  <div class="logo-container">
    <%= image_tag 'logo3.png' %>
  </div>
    <div class="text">
      <div class="text_font">
        <h3>Enrich your bread lifeï¼</h3>
        <h3>Find the bread you want to eat</h3>
        <div class="btn-edge text-center">
          <%= link_to "let's search", shop_search_path %>
        </div>
      </div>
    </div>
</div>