<div class ="container">
  <div class ="row">
    <div class ="col-md-12">
      <p class ="content1" >
        <h2>User一覧ページ</h2>
      <table class ='table table-striped'>
        <thead>
          <tr>
   	        <th>会員ID</th>
   	        <th>氏名</th>
   	        <th>メールアドレス</th>
   	        <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
   	        <td><%= user.id %></td>
   	        <td><%= link_to user.name, admin_user_path(user.id) %></td>
   	        <td><%= user.email %></td>
   	        <td>
              <% if user.quit %>
   		          有効
   		        <% else %>
   		          退会済み
   		        <% end %>
   	        </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </p>
    </div>
  </div>
</div>